<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StudentContextDB" connectionString="data source=LAPTOP-31DILO9H\SQLEXPRESS;initial catalog=QuanLySinhVien;user id=sa;password=123456;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>